    :root{
        --branco-principal: #ffffff;
        --dourado-segundario: #FFD700;
      --cor-de-fundo: #00030c;

    }
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
strong{
    color: var(--dourado-segundario);

}

.conteiner{
    height: 150vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.principal{

    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    
}

.container_botao{
    background-color: var(--dourado-segundario);
border-radius: 5px;
padding: 1em;
color: var(--branco-principal);
display: block;
}