    :root{
        --branco-principal: #ffffff;
        --dourado-segundario: #FFD700;
      --cor-de-fundo: #00030c;

    }
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
strong{
    color: var(--dourado-segundario);
}
